<div class="container-inicio">
  <!--Principal Row-->
    <div class="row">
      <!--Section 1- Pending Task-->
      <div class="col s4 m6 l5 white darken-1 black-text z-depth-2" style="height: 678px;"> 
        <!--PENDING TASKS COMPONENT-->
        <tareas-pendientes></tareas-pendientes>
      </div>

      <!--Section 2 - Today tasks and groups-->
      <div class="col s4 m6 l6  darken-1 black-text" style="margin-left: 12px; width: 57%;">
        <!--Row for tasks today-->
        <div class="row">
            <div class="col s4 m12 l12 white darken-1 black-text z-depth-2" style="height: 400px;"> 
                <tareas-hoy></tareas-hoy>
              </div>
        </div>
        <!--Row for groups-->
        <div class="row">
            <div class="col s4 m12 l12 white darken-1 black-text z-depth-2" style="margin-top: 10px; border: 10px; border-block-color: red; height: 250px;"> 
                <!--GROUP COMPONENT-->
                <tareas-grupos></tareas-grupos>
              </div>
        </div>
      </div>
    </div>
</div>
